body{
    width: 100%;
}
.container-addemployee{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    display: inline;
    text-align: center;
}
.form-Add{
    width: 20%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.identity, .dept, .adress{
    display: flex;
    flex-direction: column;
}

.select-control-height{
    padding: 5px;
    height: 40px;
    width: fit-content !important; 
}
label{
    padding: 5px 5px 5px 0;
    
}
.form-control-size{
    width: 80%;
}